@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('opensans.woff') format('woff');
}

body {
    -webkit-font-smoothing: antialiased;
	background: #ffffff;
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(135deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	color: #2E3846;
	text-shadow:-1px 1px 1px rgba(0,0,0,0.1);
	font:127% 'Open Sans', sans-serif
}

#main {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1100;
	text-align:center;
    background: rgba(252,252,252,0.5);
    overflow: auto;
    padding: 0 0.3em 0 0.5em;
    height: 100%;
    width: 25%;
    min-width: 300px;
}

h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: -0.2em 0 0;
    padding: 0;
    color: DodgerBlue;
    text-shadow: -3px 4px 3px rgba(0,0,0,0.3);
    font-size: 600%;
    opacity: 0.8;
    z-index: 800;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    font-weight: normal;
}

#logo {
    position: fixed;
    top: 1em;
    left: 28em;
    opacity: 0.5;
}

h3 {
    font-weight: normal;
}

#nodeversion {
    position: fixed;
    top: 5.4em;
    left: 0.1em;
    color: #0e0e0e;
    text-shadow: none;
}

.detail {
    color: #969BA2;
    display: block;
    font-weight: normal;
    font-size: 90%;
    text-align: left;
}

#websocket {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 800%;
    color: rgba(0,0,0,0.1);
    text-shadow:none;
    z-index: 700;
}

.memory, .mb {
    display: inline-block;
    color: #969BA2;
    font-weight: normal;
    font-size: 90%;
    width: 6.5em;
    text-align: right;
}

.mb {
    width: 3em;
    text-align: center;
    font-size: 80%;
}

#sysmemory, #infomemory, #freememory {
    width: 3.3em;
    text-align: right;
    display: inline-block;
}

.graph {
    position: fixed;
    bottom: 1em;
    left: 0;
    z-index: 1000;
}

#load {
    position: fixed;
    bottom: 0;
    left: 2em;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

#status {
    display: block;
}

#load h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#graph1 {
    width: 75%;
    height: 70%;
}

.min1 {
    color: DodgerBlue;
}

.min5 {
    color: gold;
}

.min15 {
    color: tomato;
}


@media only screen
and (max-width: 1280px) {

    body {
        font-size:110%
    }

    #graph1 {
        width: 75%;
    }

}


@media only screen
and (min-width: 1400px) {
    
}